---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import { SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import "@fontsource/jetbrains-mono";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 3);
---

<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header>
      <Nav />
    </Header>
    <main>
      <h1>
        hello, I'm <a href="https://www.linkedin.com/in/jonathanwang2000/"
          >jonathan</a
        >
      </h1>
      <h3>welcome to my website</h3>
      <p>
        I'm a waterloo graduate currently working in San Francisco at <a
          href="https://withpersona.com/">persona identities.</a
        >
        Previously I worked at <a href="https://scale.ai">scale ai.</a>
      </p>
      <p>
        This is my little site to write some thoughts/notes that I think might
        be interesting to share on the internet.
      </p>
      <h3>latest writings</h3>
      <ul class="blog-posts">
        {
          posts.map((post) => (
            <li>
              <span>
                <i>
                  <FormattedDate date={post.data.pubDate} />
                </i>
              </span>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
